/* Calendrier JS */
.calendar{
    background-color:#eee;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    border:1px solid #555;
 
}
.calendar a{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
}
.calendar span{
    float:left;
    display:block;
    width:25px;
    cursor:pointer;
    text-align:center;
}
.titleMonth{
    width:100%;
    background-color:#555;
    color:#FFFFFF;
    text-align:center;
    border-bottom:1px solid #666;
    margin:none;
    padding:none;
    padding-bottom:2px;
    margin-top:0px;
    margin-bottom:0px;
    font-weight:bold;
}
.separator{
    float:left;
    display:block;
    width:25px;
}
.currentDay{
    font-weight:bold;
}



/* Styles des formulaires */
/* ---------------------- */

/* Cadre = "fieldset" */
#cadre {
-moz-box-shadow: 3px 3px 3px 0px #c0c0c0;
-webkit-box-shadow: 3px 3px 3px 0px #c0c0c0;
-o-box-shadow: 3px 3px 3px 0px #c0c0c0;
box-shadow: 3px 3px 3px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 75px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 75px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 75px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 5px;

border:1px solid #516f98;
-moz-border-radius:8px;
-webkit-border-radius:8px;	
border-radius:4px;	
}

/* Lorsque la souris arrive sur une ligne du formulaire, la ligne est mise en évidence par une couleur bleue */
form .ligne:hover {
  background: #f1f7fa;
}

/* "Legend" des fieldset encadrés */
legend {
background: #FFF;
border:1px solid #516f98;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
padding: 3px;
}

/* Bouton d'action des formulaires */
#bouton {
width:250px; height:50px; font-size:14px;
color:#ffffff;
-moz-box-shadow: 0px 0px 30px #343434;
-webkit-box-shadow: 0px 0px 30px #343434;
-o-box-shadow: 0px 0px 30px #343434;
box-shadow: 0px 0px 30px #343434;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 2px solid #cfcfcf;
background:#3166ff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3166ff", endColorstr="#3531ff"); /* Pour IE seulement et mode gradient à linear */
background: -webkit-gradient(radial,center center,0,center center,100, from(#3166ff), to(#3531ff));
background: -moz-radial-gradient(center center, circle contain, #3166ff, #3531ff);
background: -o-radial-gradient(#3166ff, #3531ff); 
background: -ms-radial-gradient(#3166ff, #3531ff); 
background: radial-gradient(#3166ff, #3531ff); 
}

#bouton:hover {
width:250px; height:50px; font-size:14px;
color:#ffffff;
-moz-box-shadow: 0px 0px 10px #343434;
-webkit-box-shadow: 0px 0px 10px #343434;
-o-box-shadow: 0px 0px 10px #343434;
box-shadow: 0px 0px 10px #343434;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 2px solid #cfcfcf;
background:#3531ff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3531ff", endColorstr="#3166ff"); /* Pour IE seulement et mode gradient à linear */
background: -webkit-gradient(radial,center center,0,center center,100, from(#3531ff), to(#3166ff));
background: -moz-radial-gradient(center center, circle contain, #3531ff, #3166ff);
background: -o-radial-gradient(#3531ff, #3166ff); 
background: -ms-radial-gradient(#3531ff, #3166ff); 
background: radial-gradient(#3531ff, #3166ff); 
}
