/* Calendrier JS */
.calendar{
    background-color:#eee;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    border:1px solid #555;
 
}
.calendar a{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
}
.calendar span{
    float:left;
    display:block;
    width:25px;
    cursor:pointer;
    text-align:center;
}
.titleMonth{
    width:100%;
    background-color:#555;
    color:#FFFFFF;
    text-align:center;
    border-bottom:1px solid #666;
    margin:none;
    padding:none;
    padding-bottom:2px;
    margin-top:0px;
    margin-bottom:0px;
    font-weight:bold;
}
.separator{
    float:left;
    display:block;
    width:25px;
}
.currentDay{
    font-weight:bold;
}

/* Menu général du site */
#menu {
  position: fixed;
  right: 0;
  width: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 25%;
}

#menu li {
  background: #ccc ;
  color: #fff ;
  border: 1px solid #000 ;
  margin-bottom: 1px ;
}

#menu li a {
  display: block ;
  background: #aaa ;
  color: #fff ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

#menu li a:hover, #menu li a:focus, #menu li a:active {
  background: #000 ;
  text-decoration: underline ;
}




/* Styles des formulaires */
/* ---------------------- */

/* Cadre = "fieldset" */
#cadre {
-moz-box-shadow: 5px 5px 5px 0px #c0c0c0;
-webkit-box-shadow: 5px 5px 5px 0px #c0c0c0;
-o-box-shadow: 5px 5px 5px 0px #c0c0c0;
box-shadow: 5px 5px 5px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}

/* Lorsque la souris arrive sur une ligne du formulaire, la ligne est mise en évidence par une couleur bleue */
form .ligne:hover {
  background: #f1f7fa;
}

/* Bouton d'action des formulaires */
#bouton {
width:250px; height:50px; font-size:14px;
margin:auto;
color:#ffffff;
-moz-box-shadow: 0px 0px 45px #343434;
-webkit-box-shadow: 0px 0px 45px #343434;
-o-box-shadow: 0px 0px 45px #343434;
box-shadow: 0px 0px 45px #343434;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 2px solid #cfcfcf;
background:#3166ff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3166ff", endColorstr="#3531ff"); /* Pour IE seulement et mode gradient à linear */
background: -webkit-gradient(radial,center center,0,center center,100, from(#3166ff), to(#3531ff));
background: -moz-radial-gradient(center center, circle contain, #3166ff, #3531ff);
background: -o-radial-gradient(#3166ff, #3531ff); 
background: -ms-radial-gradient(#3166ff, #3531ff); 
background: radial-gradient(#3166ff, #3531ff); 
}

#bouton:hover {
width:250px; height:50px; font-size:14px;
margin:auto;
color:#ffffff;
-moz-box-shadow: 0px 0px 10px #343434;
-webkit-box-shadow: 0px 0px 10px #343434;
-o-box-shadow: 0px 0px 10px #343434;
box-shadow: 0px 0px 10px #343434;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 2px solid #cfcfcf;
background:#3531ff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3531ff", endColorstr="#3166ff"); /* Pour IE seulement et mode gradient à linear */
background: -webkit-gradient(radial,center center,0,center center,100, from(#3531ff), to(#3166ff));
background: -moz-radial-gradient(center center, circle contain, #3531ff, #3166ff);
background: -o-radial-gradient(#3531ff, #3166ff); 
background: -ms-radial-gradient(#3531ff, #3166ff); 
background: radial-gradient(#3531ff, #3166ff); 
}